<!DOCTYPE html>
<html>
  <head>
    <title>Scheduler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <header>
      <div class="header-logo">
        岡部研究室
      </div>
    </header>

    <div class="main">
      <%= yield %>
    </div>

  </body>
</html>
